#landonline-db-indicator {
    display: none;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: Arial, sans-serif;
    font-size: 16px;
    animation: fadeIn 0.5s, pulse 2s infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes pulse {
    0% { box-shadow: 0 4px 8px rgba(0,0,0,0.2); transform: translateX(-50%) scale(1);}
    50% { box-shadow: 0 8px 16px rgba(0,0,0,0.3); transform: translateX(-50%) scale(1.04);}
    100% { box-shadow: 0 4px 8px rgba(0,0,0,0.2); transform: translateX(-50%) scale(1);}
}